{% extends "!layout.html" %}

{% block menu %}
  {{ super() }}

  {% if language_slug == 'csharp' or language_slug == 'vbnet' %}
    <li class="toctree-l1">
      <a class="reference internal" href="/dotnet/api/">.NET API Reference</a>
    </li>
  {% endif %}

  {% if language_slug == 'php' %}
    <li class="toctree-l1">
      <a class="reference internal" href="/php/apidocs/">PHP API Reference</a>
    </li>
  {% endif %}

{% endblock %}

{# Language picker interface #}
{% block sidebartitle %}
  {{ super () }}

  <div class="langpicker-container">
    <a href="#langpicker" class="langpicker-link">
      <i class="fa fa-code"></i>
      Switch Language
    </a>
    <div id="langpicker" style="display:none;">
      <div class="{{ 'current' if language_slug == 'csharp' }}">
        <a href="/csharp/product-guide/latest/{{ pagename }}{{ file_suffix}}">C#</a>
      </div>
      <div class="{{ 'current' if language_slug == 'java' }}">
        <a href="/java/product-guide/latest/{{ pagename }}{{ file_suffix}}">Java</a>
      </div>
      <div class="{{ 'current' if language_slug == 'nodejs' }}">
        <a href="/nodejs/product-guide/latest/{{ pagename }}{{ file_suffix}}">Node.js</a>
      </div>
      <div class="{{ 'current' if language_slug == 'php' }}">
        <a href="/php/product-guide/latest/{{ pagename }}{{ file_suffix}}">PHP</a>
      </div>
      <div class="{{ 'current' if language_slug == 'python' }}">
        <a href="/python/product-guide/latest/{{ pagename }}{{ file_suffix}}">Python</a>
      </div>
      <div class="{{ 'current' if language_slug == 'rest' }}">
        <a href="/rest/product-guide/latest/{{ pagename }}{{ file_suffix}}">REST</a>
      </div>
      <div class="{{ 'current' if language_slug == 'ruby' }}">
        <a href="/ruby/product-guide/latest/{{ pagename }}{{ file_suffix}}">Ruby</a>
      </div>
      <div class="{{ 'current' if language_slug == 'vbnet' }}">
        <a href="/vbnet/product-guide/latest/{{ pagename }}{{ file_suffix}}">Visual Basic</a>
      </div>
    </div>
  </div>
{% endblock %}

{% set script_files = script_files + ["_static/javascript_for_java.js", "_static/langpicker.js", "_static/scrollspy.js", "_static/gumshoe.min.js"] %}
