{% extends "!layout.html" %}

{%- block extrahead %}
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '986262161469311');
  fbq('track', "PageView");
</script>
<noscript>
  <img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=986262161469311&ev=PageView&noscript=1"
  />
</noscript>
<!-- End Facebook Pixel Code -->

{% endblock %}

{# block body}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQZZFW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQZZFW');</script>
<!-- End Google Tag Manager -->

{% endblock %}

{% block menu %}
  {{ super() }}

  {% if language_slug == 'csharp' or language_slug == 'vbnet' %}
    <li class="toctree-l1">
      <a class="reference internal" href="/dotnet/api/">.NET API Reference</a>
    </li>
  {% endif %}

  {% if language_slug == 'php' %}
    <li class="toctree-l1">
      <a class="reference internal" href="/php/apidocs/">PHP API Reference</a>
    </li>
  {% endif %}

{% endblock %}

{# Language picker interface #}
{% block sidebartitle %}
  {{ super () }}

  <div class="langpicker-container">
    <a href="#langpicker" class="langpicker-link">
      <i class="fa fa-code"></i>
      Switch Language
    </a>
    <div id="langpicker" style="display:none;">
      <div class="{{ 'current' if language_slug == 'csharp' }}">
        <a href="/csharp/product-guide/latest/{{ pagename }}{{ file_suffix}}">C#</a>
      </div>
      <div class="{{ 'current' if language_slug == 'java' }}">
        <a href="/java/product-guide/latest/{{ pagename }}{{ file_suffix}}">Java</a>
      </div>
      <div class="{{ 'current' if language_slug == 'php' }}">
        <a href="/php/product-guide/latest/{{ pagename }}{{ file_suffix}}">PHP</a>
      </div>
      <div class="{{ 'current' if language_slug == 'python' }}">
        <a href="/python/product-guide/latest/{{ pagename }}{{ file_suffix}}">Python</a>
      </div>
      <div class="{{ 'current' if language_slug == 'rest' }}">
        <a href="/rest/product-guide/latest/{{ pagename }}{{ file_suffix}}">REST</a>
      </div>
      <div class="{{ 'current' if language_slug == 'vbnet' }}">
        <a href="/vbnet/product-guide/latest/{{ pagename }}{{ file_suffix}}">Visual Basic</a>
      </div>
      <!--
      <div class="{{ 'current' if language_slug == 'nodejs' }}">
        <a href="/nodejs/product-guide/latest/{{ pagename }}{{ file_suffix}}">Node.js</a>
      </div>
      -->
    </div>
  </div>
{% endblock %}

{% set script_files = script_files + ["_static/javascript_for_java.js", "_static/langpicker.js", "_static/scrollspy.js", "_static/gumshoe.min.js"] %}
