/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

div.langpicker-container {
  padding-top: 15px;
}

div.langpicker-container a {
  color: white;
}

div#langpicker div.current {
  background-color: rgba(255,255,255,0.1);
}

div#langpicker a {
  color: rgba(255,255,255,0.8);
}

.rst-footer-buttons {
    display:none;
}

img {
   border:1px solid #D6D2D1;
}